body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.headerlist {

  display: flex;
  flex-wrap: wrap;
}

.headerlist li {
  padding-right: 10px;
  list-style: none;
  
}

.headerlist li a {
  padding: 10px;
  text-decoration: none;
  
}

.bar {
  margin: 10px;
}