<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    
    <div class="maincreatecharacter">

        <div class="create-form" >

            <h2> Agragar un personaje </h2>

            <form id="formCreate" action="" method="POST" enctype="multipart/form-data">
            
                <div class="name">

                    <label for="name">Agregar Nombre</label>
                    <input type="text" placeholder="Nombre del personaje" name="name" id="name"> 
                    
                </div>

                <div class="age">

                    <label for="age">Agregar edad</label>
                    <input type="number" placeholder="Edad del personaje" age="age" id="age"> 
                    
                </div>

                <div class="image">

                    <label for="image">Agregar Imagen</label>
                    <input type="file" placeholder="Imagen del personaje" name="image" id="image">
                    
                </div>

                <div class="history">

                    <label for="history">Agregar Historia</label>
                    <textarea name="history" id="history" cols="30" rows="5" maxlength="500" minlength="20"  ></textarea>
                    
                </div>


            </div>
                <div class="buttonCreate">
                    
                <button id="botonCreate" class="btn" type="submit">Agregar

                </button>

            </div>
            
            
            </form>

        </div>

    </div>

  </body>
</html>