<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    
    <div class="maincreateserie">

        <div class="create-form" >

            <h2> Agragar una serie </h2>

            <form id="formCreate" action="" method="" enctype="multipart/form-data">
            
                <div class="title">

                    <label for="title">Agregar Nombre</label>
                    <input type="title" placeholder="Nombre de la serie" title="title" id="title">
                    
                </div>

                <div class="image">

                    <label for="image">Agregar Imagen</label>
                    <input type="image" placeholder="Imagen de la serie" image="image" id="image"> 
                    
                </div>

            

            <div class="buttonCreate">
                
            <button id="botonCreate" class="btn" type="submit">Agregar

            </button>

        </div>
            
            </form>

        </div>

    </div>

  </body>
</html>