<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    
    <div class="maincreatecharacter">

        <div class="create-form" >

            <h2> Agragar un personaje </h2>

            <form id="formCreate" action="" method="" enctype="multipart/form-data">
            
                <div class="name">

                    <label for="name">Agregar Nombre</label>
                    <input type="name" placeholder="Nombre del Producto" name="name" id="name"> 
                    
                </div>

                <div class="age">

                    <label for="age">Agregar Nombre</label>
                    <input type="age" placeholder="Nombre del personaje" age="age" id="age"> 
                    
                </div>

                <div class="image">

                    <label for="image">Agregar Imagen</label>
                    <input type="image" placeholder="Imagen del personaje" image="image" id="image"> 
                    
                </div>

                <div class="history">

                    <label for="image">Agregar Imagen</label>
                    <input type="image" placeholder="Imagen del personaje" image="image" id="image"> 
                    
                </div>


            </div>
                <div class="buttonCreate">
                    
                <button id="botonCreate" class="btn" type="submit">Agregar

                </button>

            </div>
            
            
            </form>

        </div>

    </div>

  </body>
</html>