<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    
    <div class="mainregister">
        <h2>Registrate</h2>

        <form id="formregister" action="" method="">

            <div class="first_name">

                <label for="first_name"></label>
                <input class="form" type="text" id="first_name" name="first_name" placeholder="First Name" value="">
                
            </div>

            <div class="last_name">   

                <label for="last_name"></label>
                <input class="form" type="text" id="last_name" name="last_name" placeholder="Last Name" value="" >
                
            </div>


            <div class="email">

                <label for="email"></label>
                <input type="email" class="form" placeholder="Escribe tu email" name="email" id="email" value="">
               
            </div>

            <div class="password"> 

                <label for="password"></label>
                <input class="formulario" type="password" id="password" name="password" placeholder="Contraseña" >
                
        </div>

        <div class="buttonregister">

            <button id="buttonR" class="btn" type="submit"> Registrate

            </button>
        
        </div>





        </form>



    </div>


  </body>
</html>